/* .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
  } 
*/
  
body {
    margin: 0;
    padding: 50;
}

p {
    text-align: center;
}
        

.pink-border {
    border-top: 100px solid pink; /* Adjust thickness by changing the pixel value */
    padding: 0.5px; /* Add padding to prevent content from being covered by the border */
    position: relative; /* Enable positioning of the text */
}
    
.bottom-border {
    border-top: 100px solid pink; /* Adjust thickness by changing the pixel value */
    padding: 0.5px; /* Add padding to prevent content from being covered by the border */
    position: relative; /* Enable positioning of the text */
}

.pink-border::before {
    content: "Baking Papa's Cafe";
    display: block; /* Make it a block element */
    position: absolute; /* Position the text absolutely */
    top: -45px; /* Adjust the position above the border */
    left: 36%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transform: translateY(-50%); /* Center horizontally */
    font-size: 40px; /* Adjust font size as needed */
    color: black; /* Set text color */
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-weight: 700;
    color: rgb(168, 221, 114);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
        
.page-button-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    padding: 10px;
    background-color: #ffffff;
}
    
.item-button-container {
        width: 500px;
        height: 194.5px;
        display: flex;
        justify-content: space-between; /* Distribute items evenly */
        padding: 10px; 
        background-color: #ffffff;
        margin-right: auto;
        margin-left: auto;
}
    
 /* Style for the buttons */
.button {
    padding: 10px 20px;
    background-color: #ffffff;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
}

.material-symbols-outlined {
    color: rgb(168, 221, 114);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24  
}
